

  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <span class="navbar-brand">ACERCA DE MI </span>
    </div>
  </nav>

  <div class="h-contenido">
    <div class="row">

      <div class="col-12 col-md-7 col-lg-8">
        <div class="row">
          <div class="col-12 col-sm-5 col-md-12 col-lg-4 py-1 py-lg-5 my-1 my-lg-5 text-center">
            <img src="./assets/img-perfil.png" class="img-fluid mx-auto d-block mw-100 max-vh-100" alt="imagen de perfil">
          </div>

          <div class="col-12 col-sm-7 col-md-12 col-lg-8 py-1 py-sm-5 py-md-1 py-lg-5 my-1 my-lg-5">
            <div class="container-fluid">
              <h2>RESUMEN</h2>
              <p><strong>Soy Product Designer y llevo más de 10 años en la industria del diseño.</strong></p>

              <p>Tengo una licenciatura en ciencias de la informática en el IPN y una maestría en Inteligencia Artificial
                en la Universidad Internacional de la Rioja. Además de cursos de diseño y usabilidad, algunos impartidos por el TEC de Monterrey.</p>

              <p>Actualmente estoy más enfocado en el diseño y experiencia del cliente, realizo actividades de investigación, análisis
                y diseño para diferentes dispositivos.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4 bg-secondary">
        <div class="container-fluid text-white">
          <div class="mt-5 py-3 border-bottom border-bottom-dark border-bottom-2 border-bottom-dashed">
            Nombre:   <strong>Erik Yael Trejo Barriga</strong>
          </div>
          <div class=" py-4 border-bottom border-bottom-dark border-bottom-2 border-bottom-dashed">
            Edad:   <strong> {{ calcularEdad() }} años</strong>
          </div>
          <div class=" py-4 border-bottom border-bottom-dark border-bottom-2 border-bottom-dashed">
            Ubicación:   <strong>México, CDMX</strong>
          </div>
          <div class=" py-4 border-bottom border-bottom-dark border-bottom-2 border-bottom-dashed">
            Idioma:   <strong>Español (Nativo), Inglés (A2)</strong>
          </div>
          <div class="py-4 border-bottom border-bottom-dark border-bottom-2 border-bottom-dashed">
            Correo:   <strong>erik.trejob@gmail.com</strong>
          </div>
          <div class=" py-4">
            Celular:   <strong>55 1776 7940</strong>
          </div>
        </div>
      </div>

    </div>
  </div>


