<div class="h-contenido">
  <div class="row">



    <div class="col-12 col-md-7 col-lg-5  bg-light">
      <div class="container-fluid">

        <nav class="navbar navbar-expand-sm">
          <div>
            <span class="navbar-brand text-dark">MI EXPERIENCIA </span>
          </div>
        </nav>

        <div class="row">
          <div class="col-1">
            <img src="./assets/img-time-line.png" class="img-fluid" alt="imagen de perfil">
          </div>

          <div class="col-11 experiencia">
            <span>2012 - 2016</span>
            <br>
            <h5><strong>GETRONICS MÉXICO</strong></h5>

            <p><strong> Analista en diseño, usabilidad y experiencia del cliente para BBVA. </strong></p>

            <ul>
              <li>Diseño de interfaces (Web, Responsive, App móvil y ATM´s).</li>
              <li>Desarrollo de animaciones en Flash (Animate) programados en actionscript 3 (AS3) para ATMs.</li>
              <li>Participación en proyectos con metodología ágil (Scrum y Kanban).</li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <img src="./assets/img-time-line.png" class="img-fluid" alt="imagen de perfil">
          </div>

          <div class="col-11 experiencia">

            <span>2016 - 2021</span>
            <br>
            <h5><strong>TATA CONSULTANCY SERVICES</strong></h5>
            <p><strong>UX Designer para múltiples clientes.</strong></p>

            <ul>
              <li><strong>E-global: </strong> Único responsable del diseño del sistema web, branding y colaboración en el desarrollo del front.</li>
              <li><strong>BBVA: </strong> Rediseño de flujos, optimizando el proceso de retiro y consulta en cajeros automáticos.</li>
              <li><strong>BVC Colombia: </strong> Lideré el diseño del sitio web para la experiencia de una plataforma de crowdfunding en un equipo de diseñadores.</li>
              <li><strong>Scotiabank: </strong> Diseño de propuestas de solución, wireframes, maquetas, look&feel y Usability Testing.</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <img src="./assets/img-time-line.png" class="img-fluid" alt="imagen de perfil">
          </div>

          <div class="col-11 experiencia">

            <span>2021 - ACTUALMENTE</span>
            <br>
            <h5><strong>GFT</strong></h5>
            <p><strong>Product Designer para múltiples clientes.</strong></p>

            <ul>
              <li><strong>BBVA y LAB: </strong> Diseño de solución para Bonificación de Cuota Anual, cuentas N2 y N4; wireframes, maquetas y Usability Testing.</li>
              <li><strong>AMIS: </strong> Lideré el diseño para el sitio web de la plataforma de control de robos y recuperación de vehículos única en México del sector seguros.</li>
              <li><strong>Santander: </strong> Diseño de interfaces web y móvil de productos financieros; Wireframes, Maquetas, Prototipado y Usability Testing. Aplicando el sistema de diseño.</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-7 bg-info">
      <div class="container-fluid text-secondary">

        <nav class="navbar navbar-expand-sm navbar-dark">
          <div class="">
            <span class="navbar-brand"> HABILIDADES PROFESIONALES </span>
          </div>
        </nav>

        <div class="row pt-3">

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 95" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>95%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>FIGMA / SKETCH</h6>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 90" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>90%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>ILLUSTRATOR</h6>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 75" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>75%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>PHOTOSHOP</h6>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 60" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>60%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>VIDEO EDITION</h6>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 95" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>95%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>PROTOTYPING</h6>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-md-6 col-lg-4 d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 60" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>60%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>HTML 5 / BOOTSTRAP</h6>
            </div>
          </div>

          <div class=" col-6 col-sm-4 col-md-6 col-lg-4  d-flex flex-column text-white py-2 py-lg-5">
            <div style="--porsentaje: 50" class="porcentajes  d-flex justify-content-center order-1">
              <svg width="150" heigth="150">
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
                <circle r="60" cx="50%" cy="50%" pathLength="100"/>
              </svg>
              <span>50%</span>
            </div>
            <div class=" d-flex justify-content-center order-2">
              <h6>ANGULAR</h6>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
