

<div *ngIf="project">

  <sahred-header-bar
    [project]="project">
  </sahred-header-bar>

  <div class="container-fluid">

    <div
      class="row"
      style="margin-top: 100px;">

      <div class="col-12 col-md-9">

        <h4>
          <strong>
            En {{ project.company }} para {{ project.customer }}
          </strong>
        </h4>

        <br>

        <p>
          {{ project.lgDescription01 }}
        </p>

        <p>
          {{ project.lgDescription02 }}
        </p>

        <p *ngIf="project.lgDescription03">
          {{ project.lgDescription03 }}
        </p>

        <p *ngIf="project.lgDescription04">
          {{ project.lgDescription04 }}
        </p>

      </div>


      <div class="col-12 col-md-3">

        <div class="row g-0">

          <div class="col-4 col-md-12">

            <img
              [src]="project.coverImg"
              class="img-fluid border mb-2"
              [alt]="project.name">

          </div>

          <div class="col-8 col-md-12 px-2">

            <p class="card-text">
              Proyecto:
              <strong>{{ project.name }}</strong>
            </p>

            <p class="card-text">
              Canal:
              <strong>{{ project.device }}</strong>
            </p>

            <p class="card-text">
              Herramientas:
              <strong>{{ project.tool }}</strong>
            </p>

          </div>

        </div>

      </div>

    </div>


    <br>


    <div class="row">

      <div class="col-12 col-sm-6">

      <h5>
        <strong>Problemática</strong>
      </h5>

      <ul class="my-3">

        <li
          *ngFor="let problem of project.problems"
          class="my-2">

          {{ problem }}

        </li>

      </ul>

    </div>


      <div class="col-12 col-sm-6">

        <h5>
          <strong>¿Para quién diseñamos?</strong>
        </h5>

        <div
          *ngFor="let target of project.targets"
          class="my-4">

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16">

            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>

          </svg>

          <span class="p-3">
            <strong>{{ target }}</strong>
          </span>

        </div>

      </div>

    </div>


    <br>


    <div
      *ngFor="let solution of project.solutions"
      class="mt-4">

      <div class="row">

        <div>

          <h5>
            <strong>{{ solution.title }}</strong>
          </h5>

          <p
            *ngIf="solution.description"
            class="my-4">

            {{ solution.description }}

          </p>

        </div>

      </div>


      <div
        *ngIf="solution.images.length"
        class="row pt-1">

        <div
          *ngFor="let image of solution.images"
          class="col-6 col-sm-4 col-md-3">

          <img
            [src]="image"
            class="img-fluid mb-2"
            alt="Imagen del proyecto">

        </div>

      </div>

    </div>

  </div>

</div>
