
<ng-template #loading>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>


<div *ngIf="country; else loading">

  <div class="row">

    <sahred-header-bar [proyectList]="proyects"></sahred-header-bar>

  </div>

  <div class="row" style="margin-top: 100px;">

    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código:</strong> {{ country.cca3 }}
        </li>
        <li class="list-group-item">
          <strong>Proyecto:</strong> {{ proyectList }}
        </li>
      </ul>

      <!-- Comienza el for -->
      <ul class="list-group">
        <li *ngFor="
          let proyect of proyectList;
          let i = index;
          let isFirst = first;
          let isLast = last;
          let isEven = even;
          let isOdd = odd;
        "
          class="list-group-item d-flex justify-content-between align-items-center"
          [ngClass]="{
            'list-group-item-dark': isLast,
            'list-group-item-primary': isEven
          }">

          <div>
              <span class="text-primary"> {{ i + 1 }}. </span>
              <span>{{ proyect.name }} - </span>
              <strong>Canal: </strong>
              <span>{{ proyect.canal }}</span>
          </div>

          <!-- <button (click)="onDeleteCharacter( proyect.id )" class="btn btn-danger">X</button> -->

        </li>
      </ul>

    </div>
  </div>

  <div class="row mt-2">
    <div class="col">

      <h3>Traducciones</h3>

      <div class="d-flex flex-wrap">

        <span class="badge bg-primary m-1">{{ country.translations['ara'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['bre'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ces'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['cym'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['deu'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['est'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['fin'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ita'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['kor'].common }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['per'].common }}</span>

      </div>


    </div>
  </div>


</div>

