<div >
  <!-- Navbar -->
  <shared-navbar></shared-navbar>
</div>


<!-- Sección 1 -->
<section id="seccion1">
  <projects-home-section></projects-home-section>
</section>

<!-- Sección 2 -->
<section id="seccion2">
  <projects-about-me-section></projects-about-me-section>
</section>

<!-- Sección 3 -->
<section id="seccion3">
  <projects-my-experience-section></projects-my-experience-section>
</section>

<!-- Sección 4 -->
<section id="seccion4">
  <projects-section></projects-section>
</section>



