<div >
  <!-- Navbar -->
  <shared-navbar></shared-navbar>
</div>


<!-- Sección 1 -->
<section id="seccion1">
  <proyects-home-section></proyects-home-section>
</section>

<!-- Sección 2 -->
<section id="seccion2">
  <proyects-about-me-section></proyects-about-me-section>
</section>

<!-- Sección 3 -->
<section id="seccion3">
  <proyects-my-experince-section></proyects-my-experince-section>
</section>

<!-- Sección 4 -->
<section id="seccion4">
  <projects-section></projects-section>
</section>



