<nav class="navbar fixed-top  navbar-dark bg-dark">
  <div class="container-fluid">


      <div class="col-9 col-md-11">
        <div class="d-flex">
          <span class="my-auto"> {{ proyects[index2].name | uppercase }} | {{ proyects[index2].year }} </span>
          <!-- <div > {{ proyects[index2].year }} </div> -->
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="d-flex justify-content-end">
          <button (click)="mantenerScroll()" routerLink="countries/by-capital" class="btn btn-primary" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </button>
        </div>
      </div>


  </div>
</nav>


