.main-header {
	position: relative;
	/* background-image: url(/assets/Fondo-Inicio.jpg); */
	background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
	min-height: 668px;
}

div h2 {
  font: 34px/1.5em Avenir;
}

div h4 {
  font: 22px/1.5em Avenir;
}

div p {
  font: 16px/1.5em Avenir;
}
a span {
  font: 12px/1.5em Avenir;
}

/* Estilos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .background-image {
    background-size: contain; /* Ajusta la imagen al tamaño del elemento */
    background-position: top; /* La imagen de fondo se posiciona en la parte superior */
  }
}

@media (max-width: 480px) {
  .background-image {
    background-size: auto;
    background-position: right;
  }
}

a {
  cursor: pointer;
}

/* .background-overlay {
	position: absolute;
	background: rgba(62, 88, 72, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
