<!-- HEADER -->
<header class="main-header">
  <div class="background-overlay py-5">
    <div class="container py-5">
      <div class="row mb-sm-3 mb-lg-5"> <!--   justify-content-around-->
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 offset-md-1  text-white justify-content-center align-self-center">
          <h2>ERIK TREJO</h2>
          <h4><span class="badge text-bg-primary mb-4">PRODUCT DESIGNER</span></h4>
          <p>
            Me gusta aportar una perspectiva más técnica y un enfoque creativo en la solución de problemas, para crear productos y experiencias que a las personas les guste usar.
          </p>
          <p>
            La perseverancia, el gusto por la innovación y la atención al detalle me definen. Mi formación en informática y mi experiencia como diseñador me convierten en alguien competente en todos los aspectos del proceso de diseño.
          </p>

        </div>

      </div>

      <!-- botón para bajar a la siguiente sección -->
      <div class="d-flex flex-column text-white text-center">
        <div class="pt-5 mt-1 mt-sm-5 mt-md-1 mt-lg-5">

          <span class="order-1">Clic para bajar</span>
          <div class="order-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            </svg>
          </div>

        </div>
      </div>

    </div>
  </div>
</header>
